@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Hi, I'm Yauheni";
}

@section head
{
    @Styles.Render("~/Content/mainpage.css?q=" + DateTime.Now.Ticks)
    @Styles.Render("~/Content/site.less")
}

@section scripts
{
    @Scripts.Render("~/Scripts/cbpAnimatedHeader.js")
    @Scripts.Render("~/bundles/expertisegrid")
}

<header id="home" class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="~/Content/Images/profile.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Web, Mobile Developer</span>
                    <hr class="thick-light">
                    <span class="skills">Create solutions</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        <div class="list-group services-list">
            <div class="col-sm-4 list-group-item clearfix" data-delay="0">
                <i class="col-sm-4 fa fa-desktop fa-2x fa-fw"></i>
                <div class="col-sm-10">
                    <h5><strong>Front-End Web Development</strong></h5>
                    <p>
                        Hands on experience of creating responsive, interactive web pages/single page applications.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 list-group-item" data-delay="200">
                <i class="col-sm-4 fa fa-tasks fa-2x fa-fw"></i>
                <div class="col-sm-10">
                    <h5><strong>Back-End Web Development</strong></h5>
                    <p>
                        Skills in creating reliable, easy-support, stable back-end applications, using relational/NoSQL databases.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 list-group-item" data-delay="400">
                <i class="col-sm-4 fa fa-mobile fa-2x fa-fw"></i>
                <div class="col-sm-10">
                    <h5><strong>Mobile Development</strong></h5>
                    <p>
                        Able to create nice-looking, smooth-feeling application for Android/IOS/Windows Phone platforms using Xamarin.
                    </p>
                </div>
            </div>
        </div>
        <div id="see-portfolio" class="row">
            <div class="col-sm-12 hire-me-button">
                <h4 class="align-center"><strong>HIRE ME NOW</strong></h4>
                <p class="align-center">
                    <a href="#contact" data-type="video" class="scroll-smooth sr-button sr-buttonicon scroll-to"><i class="fa fa-angle-down fa-fw"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="expertise">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Expertise</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        <div id="filters" class="button-group">
            <div>
                <button class="button col-md-2 col-sm-4 col-xs-6 is-checked" data-filter="*">show all</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".back-end">Back-End</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".front-end">Front-End</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".database">Database</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".mobile">Mobile</button>
            </div>
        </div>
        <div class="expretise-grid">
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web front-end expertise-angular">
                <div class="name"><p>AngularJS</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web back-end expertise-aspnet">
                <div class="name"><p>ASP.NET</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web back-end expertise-net">
                <div class="name"><p>.NET</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 mobile expertise-xamarin">
                <div class="name"><p>Xamarin</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web back-end expertise-nodejs">
                <div class="name"><p>NodeJS</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 mobile expertise-ionic">
                <div class="name"><p>Ionic</p></div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2 web front-end expertise-bootstrap">
                <div class="name">
                    <p>Bootstrap</p>
                </div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2  database expertise-sqlserver">
                <div class="name">
                    <p>MS SQL Server</p>
                </div>
                <p class="date">04112015</p>
            </div>
            <div class="expertise-item col-xs-6 col-sm-4 col-md-2  database expertise-mongodb">
                <div class="name">
                    <p>Mongo DB</p>
                </div>
                <p class="date">04112015</p>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        <div id="portfolio_filters_by_area" class="button-group">
            <div>
                <button class="button col-md-2 col-sm-4 col-xs-6 is-checked" data-filter="*">show all</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".back-end">Web Back-End</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".front-end">Web Front-End</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".desktop">Desktop</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".mobile">Mobile</button>
            </div>
        </div>
        <div id="portfolio_filters_by_technology" class="button-group">
            <div>
                <button class="button col-md-2 col-sm-4 col-xs-6 is-checked" data-filter="*">show all</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".asp-net">ASP.NET</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".ms-sql">MS SQL Server</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".net">.NET</button>
                <button class="button col-md-2 col-sm-4 col-xs-6" data-filter=".xamarin">Xamarin</button>
            </div>
        </div>
        <div class="portfolio-grid">
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 net mobile xamarin portfolio-gbcoach">
                <div class="name">
                    <p>GitHubCoach</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/gbcoach1.png" />
                            <p>Application for monitoring GitHub activities. Main purpose - motivate user to make everyday commits to github.com</p>
                        </div>
                    </div>
                </div>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/gbcoach2.png" />
                            <p>Application for monitoring GitHub activities. Main purpose - motivate user to make everyday commits to github.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 desktop net portfolio-cts">
                <div class="name">
                    <p>Typing Station</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/cts.png" />
                            <p>Desktop application for document recognition by hand.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 web back-end front-end net asp-net ms-sql portfolio-correct">
                <div class="name">
                    <p>CORRECT</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/correct1.png" />
                            <p>Web-application for management of documents flow during it's processing. Used for receiving, sending to recognition, getting and storing results of recognition in internal storage, sending resulting data back to customer.</p>
                        </div>
                    </div>
                </div>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/correct2.png" />
                            <p>Web-application for management of documents flow during it's processing. Used for receiving, sending to recognition, getting and storing results of recognition in internal storage, sending resulting data back to customer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 desktop net portfolio-apitester">
                <div class="name">
                    <p>Api tester</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/apitester.png" />
                            <p>Application used for half-automated testing by testers/users.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 web back-end front-end net asp-net ms-sql portfolio-pinsol">
                <div class="name">
                    <p>PINSol</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-description">
                            <img src="~/Content/Images/Portfolio/pinsol.png" />
                            <p>Large financial system, created on the Integral ERP base (external development), subsequently moved to own ERP. Components: mobile part, back-end, number of sites, Integral (and our ERP after), external web-services for integration with other systems.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 web back-end front-end net asp-net ms-sql portfolio-cvmanager">
                <div class="name">
                    <p>CV Manager</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-content">
                            <div class="popup-description">
                                <img src="~/Content/Images/Portfolio/cvmanager.png" />
                                <p>Web-application for CV management. Used by HR specialists of a decent IT development company, and available as free application at www.elinext.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-item col-xs-6 col-sm-4 col-md-2 web back-end front-end net asp-net ms-sql portfolio-vm">
                <div class="name">
                    <p>Vacation Manager</p>
                </div>
                <p class="date">04112015</p>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-content">
                            <div class="popup-description">
                                <img src="~/Content/Images/Portfolio/vm2.png" />
                                <p>Web-application for vacation management. Used by manager of a decent IT development company, and available as paid software at www.elinext.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-container">
                    <div class="popup-content">
                        <div class="popup-content">
                            <div class="popup-description">
                                <img src="~/Content/Images/Portfolio/vm1.png" />
                                <p>Web-application for vacation management. Used by manager of a decent IT development company, and available as paid software at www.elinext.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contacts</h2>
                <hr class="star-primary thick-light">
            </div>
        </div>
        @Html.Partial("Contact")
    </div>
</section>

@Html.Partial("PhotoSwipePopup")