@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/types.js")
    @Scripts.Render("~/bundles/blogModule")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/Blog/PostDirective/Post.js")
    <title>Blog</title>
</head>
<body ng-app="selfsite">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("YAUHENI LIOHENKI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/" class="scroll-to" title="About">About</a>
                    </li>
                    <li>
                        <a href="/blog" class="scroll-to" title="Blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-controller="blogController as ctrl">
            <post ng-repeat="post in ctrl.getPosts()" post="post"></post>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Yauheni Liohenki Blog</p>
        </footer>
    </div>
</body>
</html>
