@{
    ViewBag.Title = "Blog Page";
}


@section head
    {

    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/types.js")
    @Scripts.Render("~/bundles/blogModule")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/Blog/PostDirective/Post.js")
    <title>Blog</title>
}

<div class="container body-content">
    <div class="row" ng-controller="blogController as ctrl">
        <div class="col-md-8">
            <post ng-repeat="post in ctrl.getPosts()" post="post"></post>
        </div>
    </div>
</div>

